# 🌲 Environment variables for development
# Use inline environment variables for production or CI usage (e.g. foo=bar yarn start)

# Discord client ID, available from the Discord Developer Portal
DISCORD_CLIENT_ID=

# Discord bot token, available from the Discord Developer Portal
DISCORD_TOKEN=

# PostgreSQL database connection URL (starting with postgres://)
DB_CONNECTION_URL=

# Bot owner's 17-20 digit Discord user ID, right-click > Copy ID
BOT_OWNER_ID=

# Main Discord guild or server ID, where global commands are set
MAIN_GUILD_ID=

# Bot activity type, must be either Playing, Streaming, Listening, Watching, or Competing
ACTIVITY_TYPE=

# Bot activity name
ACTIVITY_NAME=

# Applications channel ID
APPLICATIONS_CHANNEL_ID=

# Tickets channel ID
TICKETS_CHANNEL_ID=

# Membership logs channel ID
MEMBERSHIP_LOGS_CHANNEL_ID=

# Moderation logs channel ID
MOD_LOGS_CHANNEL_ID=

# Member logs channel ID
MEMBER_LOGS_CHANNEL_ID=

# Profile logs channel ID
PROFILE_LOGS_CHANNEL_ID=

# Message logs channel ID
MESSAGE_LOGS_CHANNEL_ID=

# Reaction logs channel ID
REACTION_LOGS_CHANNEL_ID=

# VC logs channel ID
VC_LOGS_CHANNEL_ID=

# Node.js environment variable, set to development or production
NODE_ENV=

# The below variables are only necessary for the API.
# These variables are required if you want to set it up with Minecraft.

# API port
API_PORT="3000"

# Minecraft admin logs channel ID
MC_ADMIN_LOGS_CHANNEL_ID=""

# Minecraft API key (you can generate one using openssl rand -base64 32)
# Public API can still be accessed by anyone.
MC_API_KEY="G+5MOxXq6Q3WX+zkEhuAOxNwbuwvmr3leCPIuyvj1ek="

# Allowed IPs for Minecraft API (comma-separated without spaces)
# Public API can still be accessed by anyone.
MC_API_ALLOWED_IPS=""
